@model Department
@{
    ViewData["Title"] = "Details";
}

<h1 class="text-primary">Department Details</h1>
<div class="mb-3 form-group">
    <label asp-for="Code" class="col-form-label"></label>
    <input asp-for="Code" class="form-control" readonly />
</div>
<div class="mb-3 form-group">
    <label asp-for="Name" class="col-form-label"></label>
    <input asp-for="Name" class="form-control" readonly />
</div>
<div class="mb-3 form-group">
    <label asp-for="DateOfCreation" class="col-form-label"></label>
    <input asp-for="DateOfCreation" class="form-control" readonly />
</div>asp-route-id=
<a asp-controller="Department" asp-route-id="@Model.Id" asp-action="Edit" class="btn btn-primary">Edit</a>
<a asp-controller="Department"  asp-action="Index" class="btn btn-light">Back</a>

